<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>">
        <%= file %>
      </a>
      &nbsp
      <a href="/<%= file %>/edit">edit</a>
    </li>
  <% end %>
  <p><a href="/new">New Document</a></p>
</ul>
