<form action="/users/signup" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"
      value="<%= params[:username] %>">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </div>
  <button type="submit">Sign up</button>
</form>
<p>
  <em>Already registered?</em>
    <a href="/users/signin">Sign In</a>
</p>
